In [1]:
#contoh 3.1

print("Ayoooo....belajar PHYTON !/n")
print("menghitung pangkat 2/n")

i = 1
while i <= 5:
    print("kuadrat",i,"adalah", i*i)
    i=i+1

Ayoooo....belajar PHYTON !/n
menghitung pangkat 2/n
kuadrat 1 adalah 1
kuadrat 2 adalah 4
kuadrat 3 adalah 9
kuadrat 4 adalah 16
kuadrat 5 adalah 25

In [2]:
#contoh 3.2 menghitung luas persegi panjang

panjang = 20
lebar = 5
luas = panjang*lebar
print(luas)

100

In [3]:
#contoh 3.3 menghitung luas persegi panjang

a = 20
b = 5
c = a*b
print(c)

100

In [4]:
#contoh 3.4 menghitung luas persegi panjang 

panjang = 20
lebar = 5
luas = panjang*lebar
print(luas)

100

In [5]:
#contoh 3.9

type(7.0)

float

In [6]:
#contoh 3.10

type(7)

int

In [7]:
#contoh 3.11 ordinary division

7/3

2.3333333333333335

In [8]:
#contoh 3.12 floor division

7//3

2

In [9]:
#contoh 3.13 modulo

7%3

1

In [10]:
#contoh 3.14 pangkat atau eksponensial

4**3

64

In [11]:
#contoh 3.15 absolut

abs(-7.5)

7.5

In [12]:
#contoh 3.16

X1 = 10
X1 += 2 
X1

#X1 = X1 + 2

12

In [14]:
#contoh 3.18

X3 = 10
X3 *= 2 
X3

#X3 = X3 * 2

20

In [14]:
#contoh 3.19

X4 = 10
X4 /= 2 
X4

#X4 = X4 / 2

5.0

In [15]:
#contoh 3.20

X4 = 10
X4 /= 4 
X4

#X4 = X4 / 2

2.5

In [16]:
#contoh 3.21

int(9/2)

4

In [17]:
#contoh 3.22 pembulatan

round(9.1)

9

In [18]:
#contoh 3.22 pembulatan

round(9.1)

9

In [19]:
#contoh 3.24

round(9.9)

10

In [20]:
#contoh 3.25 format angka desimal

x = 3.14159265 #phi
y = format(x,'.2f') #2f berarti 2 digit setelah titik

print(y)

3.14

In [21]:
#contoh 3.26 pemisah ribuan

a = 150000000.2
b = '{:,}'.format(a)

print(b)

150,000,000.2

In [22]:
#contoh 3.27 persentase

c = 0.75
d = "{:%}".format(c)

print(d)

75.000000%

In [23]:
#contoh 3.28 persentase dengan pengaturan digit dibelakang koma

e = 0.75
f = "{:.1%}".format(e)

print(f)

75.0%

In [24]:
#contoh 3.31

angka = input("Masukkan sebuah angka :")

Masukkan sebuah angka :10

In [25]:
#contoh 3.32

umur = int(input("Masukkan umur anda :"))

Masukkan umur anda :18

In [26]:
#contoh 3.33

beras = float(input("Masukkan berat beras yang anda beli :"))

Masukkan berat beras yang anda beli :2.5

In [27]:
#contoh 3.34

angka_1 = int(input("Masukkan angka :"))
angka_2 = int(input("Masukkan angka :"))
angka_3 = int(input("Masukkan angka :"))
angka_4 = int(input("Masukkan angka :"))
print("Total angka yang anda masukkan :", angka_1+angka_2+angka_3+angka_4)

Masukkan angka :10
Masukkan angka :20
Masukkan angka :30
Masukkan angka :40
Total angka yang anda masukkan : 100

In [15]:
#contoh 3.35

angka_1, angka_2, angka_3, angka_4 = [1, 2, 3, 4]
print("Total 4 angka yang anda masukkan :",angka_1*5+angka_2*5+angka_3*5+angka_4*5)

Total 4 angka yang anda masukkan : 50

In [16]:
#contoh 3.36

print("Selamat Datang ....\n")
print("Hasil penjumlahan")
print(3+4)
print()
print("Hasil pengurangan :", 20-5)
print()
a, b = 1, 2
print(a, b)

Selamat Datang ....

Hasil penjumlahan
7

Hasil pengurangan : 15

1 2

In [17]:
#contoh 3.40

print("Selamat belajar")

Selamat belajar

In [18]:
#contoh 3.41

print("Selamat belajar" + "Pemrogaman")

Selamat belajarPemrogaman

In [19]:
#contoh 3.42

nama = ("Ibu Kita Kartini")
pesan = ("Ibu Kartini menulis surat ")
print("Nama [0] :", nama[0])
print("Ibu Kartini menulis : ", pesan [20:])

Nama [0] : I
Ibu Kartini menulis :  surat

In [20]:
#contoh 3.45 menghitung luas lingkaran (perhitungan 1)
input_jari_jari = input ("Masukkan nilai jari-jari :")
jari_jari = float(input_jari_jari)
luas_lingkaran = 3.14159*jari_jari**2
print("Luas lingkaran adalah", luas_lingkaran)

Masukkan nilai jari-jari :5
Luas lingkaran adalah 78.53975

In [21]:
#contoh 3.46 menghitung luas Lingkaran (Perhitungan 2)
jari_jari = float(input("Masukkan nilai jari-jari : "))
luas_lingkaran = 3.14159*jari_jari**2
print("Luas lingkaran adalah", luas_lingkaran)

Masukkan nilai jari-jari : 5
Luas lingkaran adalah 78.53975

In [22]:
#contoh 3.47 menghitung luas lingkaran (Perhitungan 3)
print("Luas lingkaran adalah ", 3.14159*float(input("Masukkan nilai jari-jari :"))**2)

Masukkan nilai jari-jari :5
Luas lingkaran adalah  78.53975