In [1]:
#contoh 7.2

nama = input('Masukkan sebuah nama: ')
print('Nama yang di input : ', nama)

Masukkan sebuah nama: Andrian Maulana
Nama yang diinput :  Andrian Maulana

In [2]:
#contoh 7.3

print("Dia mengatakan, 'Selamat Belajar'")
print('Dia mengatakan, "Selamat Belajar"')
print("Dia mengatakan, \"Selamat Belajar\"")
print('Dia mengatakan, \'Selamat Belajar\'')
print('''Dia mengatakan, 'Selamat Belajar' ''')
print("""Dia mengatakan, "Selamat Belajar" """)

Dia mengatakan, 'Selamat Belajar'
Dia mengatakan, "Selamat Belajar"
Dia mengatakan, "Selamat Belajar"
Dia mengatakan, 'Selamat Belajar'
Dia mengatakan, 'Selamat Belajar'
Dia mengatakan, "Selamat Belajar"

In [3]:
#contoh 7.4

kalimat = "INDONESIA JAYA"
print(kalimat[0],",", kalimat[10],",", kalimat[-5],",", kalimat[-1])

I , J ,   , A

In [7]:
#contoh 7.5

kalimat ="INDONESIA JAYA"
print(kalimat[6:9])

SIA

In [8]:
#contoh 7.6

kalimat ="INDONESIA JAYA"
print(kalimat[:9])

INDONESIA

In [9]:
#contoh 7.7

kalimat ="INDONESIA JAYA"
print(kalimat[10:])

JAYA

In [10]:
#contoh 7.8

kalimat ="INDONESIA JAYA"
print(kalimat[-4:])

JAYA

In [11]:
#contoh 7.9

kalimat ="INDONESIA JAYA"
print(kalimat[:-1])

INDONESIA JAY

In [12]:
#contoh 7.10

kalimat ="INDONESIA JAYA"
print(kalimat[-10:-6])

NESI

In [13]:
#contoh 7.11

kalimat ="INDONESIA JAYA"
print(kalimat[:])

INDONESIA JAYA

In [14]:
#contoh 7.12

kata_1 = "INDONESIA"
kata_2 = "JAYA"
gabung_kata = kata_1+" "+kata_2
print(gabung_kata)

INDONESIA JAYA

In [15]:
#contoh 7.13

kalimat = "INDONESIA JAYA"
print(len(kalimat))

14

In [16]:
#contoh 7.14

kalimat = "INDONESIA JAYA"
print(kalimat.capitalize())

Indonesia jaya

In [17]:
#contoh 7.15

kalimat = "indonesia jaya"
print(kalimat.upper())

INDONESIA JAYA

In [18]:
#contoh 7.16

kalimat = "INDONESIA JAYA"
print(kalimat.lower())

indonesia jaya

In [19]:
#contoh 7.17

kalimat = "INDONESIA JAYA"
print(kalimat.title())

Indonesia Jaya

In [20]:
#contoh 7.18

kalimat = "INDONESIA JAYA"
print(kalimat.replace("JAYA", "MERDEKA"))

INDONESIA MERDEKA

In [21]:
#contoh 7.19

kalimat = "INDONESIA JAYA"
print(kalimat.rjust(25))
print(kalimat.ljust(25))
print(kalimat.center(25))

           INDONESIA JAYA
INDONESIA JAYA
      INDONESIA JAYA

In [22]:
#contoh 7.20
#

kalimat = "INDONESIA JAYA"
print(kalimat.find("J"))
print(kalimat[kalimat.find(" ")+1:])

10
JAYA

In [23]:
#contoh 7.21

kalimat = "INDONESIA TETAP JAYA JAYA"
print(kalimat.count("A"))
print(kalimat.count("JA"))

6
2

In [24]:
#contoh 7.22

kata = "Hallo "
print(kata*3+"...selamat pagi...")

Hallo Hallo Hallo ...selamat pagi...

In [25]:
#contoh 7.23

kalimat = "INDONESIA TETAP JAYA JAYA"
print(kalimat.split())

['INDONESIA', 'TETAP', 'JAYA', 'JAYA']

In [27]:
#contoh 7.24

contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
print(contoh_list[1])

Semarang

In [29]:
#contoh 7.25

contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
print(contoh_list[-2])

Palembang

In [31]:
#contoh 7.26
contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
print(contoh_list[0:3])

['Bogor', 'Semarang', 'Manado']

In [32]:
#contoh 7.27

contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
contoh_list[2] = "Balikpapan"
print(contoh_list)

['Bogor', 'Semarang', 'Balikpapan', 'Palembang', 'Wamena']

In [38]:
#contoh 7.29

contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
for i, d in enumerate (contoh_list):
    print("Kota ke-",i+1,"adalah",d)

Kota ke- 1 adalah Bogor
Kota ke- 2 adalah Semarang
Kota ke- 3 adalah Manado
Kota ke- 4 adalah Palembang
Kota ke- 5 adalah Wamena

In [34]:
#contoh 7.31

contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
contoh_list.insert(2,"Kediri")
print(contoh_list)

['Bogor', 'Semarang', 'Kediri', 'Manado', 'Palembang', 'Wamena']

In [35]:
#contoh 7.33

contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
contoh_list.pop()
print(contoh_list)

['Bogor', 'Semarang', 'Manado', 'Palembang']

In [36]:
#contoh 7.35

contoh_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
baru_list = contoh_list.copy()
print(contoh_list)
print(baru_list)

['Bogor', 'Semarang', 'Manado', 'Palembang', 'Wamena']
['Bogor', 'Semarang', 'Manado', 'Palembang', 'Wamena']

In [37]:
#contoh 7.36

kota_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
kendaraan_list = ["F","H","DB","BG","PA"]
print(kota_list+kendaraan_list)

['Bogor', 'Semarang', 'Manado', 'Palembang', 'Wamena', 'F', 'H', 'DB', 'BG', 'PA']

In [40]:
#ontoh 7.37

kota_list = ["Bogor","Semarang","Manado","Palembang","Wamena"]
kendaraan_list = ["F","H","DB","BG","PA"]
for m, n in zip(kota_list, kendaraan_list):
    print('Kota', m,'berplat',n)

Kota Bogor berplat F
Kota Semarang berplat H
Kota Manado berplat DB
Kota Palembang berplat BG
Kota Wamena berplat PA

In [42]:
#contoh 7.38

tuple_1 = ("Sosiologi", "Kimia", "Ekonomi", "Bahasa Indonesia", "Matematika")
tuple_2 = (1, 2, 3, 4, 5)
print("tuple_1[0]=",tuple_1[0])
print("tuple_2[0:4]=",tuple_2[0:4])

tuple_1[0]= Sosiologi
tuple_2[0:4]= (1, 2, 3, 4)

In [43]:
#contoh 7.39

tuple_1 = ("Sosiologi", "Kimia", "Ekonomi", "Bahasa Indonesia", "Matematika")
tuple_2 = (1, 2, 3, 4, 5)
tuple_1[0]="Biology"
print("tuple_1[0]=",tuple_1[0])

TypeError: 'tuple' object does not support item assignment

In [44]:
#contoh 7.40

tuple_1 = ("Sosiologi", "Kimia", "Ekonomi", "Bahasa Indonesia", "Matematika")
tuple_2 = (1, 2, 3, 4, 5)
tuple_gabung=tuple_1+tuple_2
print("Tuple setelah digabungkan =",tuple_gabung)

Tuple setelah digabungkan = ('Sosiologi', 'Kimia', 'Ekonomi', 'Bahasa Indonesia', 'Matematika', 1, 2, 3, 4, 5)

In [47]:
#contoh 7.41

mahasiswa = { 
"npm": "22670088",
"nama": "Andrian",
"umur": 18}
print(mahasiswa)

{'npm': '22670088', 'nama': 'Andrian', 'umur': 18}

In [50]:
mahasiswa = {
"nim": "22670088",
"nama": "Andrian",
"umur": 18
}
for x, y in mahasiswa.items():
    print(x, y)

nim 22670088
nama Andrian
umur 18

In [57]:
#contoh 7.45
mahasiswa = {
"nim": "22670088",
"nama": "Andrian",
"umur": 18
}
mahasiswa["umur"]="19"
print(mahasiswa)

{'nim': '22670088', 'nama': 'Andrian', 'umur': '19'}

In [58]:
#contoh 7.46

mahasiswa = {
"nim": "22670088",
"nama": "Andrian",
"umur": 18
}
mahasiswa["alamat"]= "Semarang"
print(mahasiswa)

{'nim': '22670088', 'nama': 'Andrian', 'umur': 18, 'alamat': 'Semarang'}

In [63]:
#contoh 7.48

mahasiswa = {
"nim": "22670088",
"nama": "Andrian",
"umur": 18
}
del mahasiswa["umur"]
print(mahasiswa)

{'nim': '22670088', 'nama': 'Andrian'}

In [62]:
#contoh 7.49

mahasiswa = {
"nim": "22670088",
"nama": "Andrian",
"umur": 18
}
mahasiswa.clear()
print(mahasiswa)

{}

In [61]:
#contoh 7.50

mahasiswa = {
"nim": "22670088",
"nama": "Andrian",
"umur": 18
}
mahasiswa_baru = mahasiswa.copy()
print(mahasiswa)
print(mahasiswa_baru)

{'nim': '22670088', 'nama': 'Andrian', 'umur': 18}
{'nim': '22670088', 'nama': 'Andrian', 'umur': 18}

In [60]:
#contoh 7.51

mahasiswaku = {
"mhs1":{
"nim": "22670088",
"nama": "Andrian",
"umur": 18
},
"mhs2":{
"nim": "1906780212",
"nama": "Wildan",
"umur": 19
},
"mhs3":{
"nim": "1906780213",
"nama": "Patria",
"umur": 18
}
}
print(mahasiswaku)

{'mhs1': {'nim': '22670088', 'nama': 'Andrian', 'umur': 18}, 'mhs2': {'nim': '1906780212', 'nama': 'Wildan', 'umur': 19}, 'mhs3': {'nim': '1906780213', 'nama': 'Patria', 'umur': 18}}

In [1]:
#contoh 5.2